.dayField{
    background-color: #D3D3D3;
    margin: 0px 2rem;
}

.p{
    text-align: left;
}

#dButton{
    background-color: #D3D3D3;
    margin-left: 21rem
}

#a{
    padding: 1.5px;
    color: black;
}