.monthField{
    background-color: #acacac;
    margin: 0px 1.5rem;
}

.p{
    text-align: left;
}

#dButton{
    background-color: #acacac;
    margin-left: 21rem
}

#a{
    padding: 1.5px;
    color: black;
}